p {
    margin: 0;
}

.container {
    display: flex;
    height: 100%;
    margin: auto;
    align-items: center;
    width: 450px;
}

.reviews {
    width: 50%;
    height: 100%;
    border-bottom: solid 1px;
    border-left: solid 1px;
    border-right: solid 1px;
    border-image: linear-gradient(to top, #FFF, transparent, transparent);
    border-image-slice: 1;
}

.main_text {
    cursor: default;
    font-family: 'Exo 2', sans-serif;
    font-weight: 600;
    font-size: 50px;
    height: 70%;
    margin-top: -5%;
}

.main_text_grade {
    cursor: default;
    font-family: 'Exo 2', sans-serif;
    font-weight: 600;
    font-size: 50px;
    height: 70%;
    margin-top: -15%;
}

.image_grade {
    margin-top: -8%;
    height: 50%;
    width: 100%;
    object-fit: contain;
}

.desc_text {
    cursor: default;
    font-family: 'Exo 2', sans-serif;
    font-weight: 400;
    font-size: 13px;
    text-wrap: nowrap;
    margin-left: 10px;
    margin-right: 10px;
}

.desc_text_grade {
    cursor: default;
    font-family: 'Exo 2', sans-serif;
    font-weight: 400;
    font-size: 13px;
    text-wrap: nowrap;
    margin-top: -5%;
    margin-left: 10px;
    margin-right: 10px;
}

.stars {
    width: 50%;
    height: 100%;
    border-bottom: solid 1px;
    border-right: solid 1px;
    border-image: linear-gradient(to top, #FFF, transparent, transparent);
    border-image-slice: 1;
}

@media (max-width: 500px) {
    .container {
        display: flex;
        height: 100%;
        margin: auto;
        align-items: center;
        width: 90vw;
    }
}