.outerContainer {
    display: flex;
    overflow-x: hidden;
}

.container {
    background: transparent;
    display: flex;
    align-items: center;
    line-height: 1;
    height: 260px;
    gap: 5px;
    user-select: none;
    position: relative;
}

.track {
    display: flex;
    gap: 5px;
    margin-right: 0.9vh;
}

.container:before,
.container:after {
    position: absolute;
    top: 0px;
    width: 117px;
    height: 260px;
    content: "";
    z-index: 2
}

.container:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), black);
}

.container:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), black);
}

.containerSlide {
    animation: slide 120s linear infinite;
}

.container:hover .containerSlide{
    animation-play-state: paused;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}
