a {
    font-family: 'Exo 2', sans-serif;
    font-weight: 400;
    color: #FFF;
    text-decoration: none;
    font-size: medium;
    position: relative;
    display: block;
    margin-bottom: 5px;
}

.background {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    background-color: #111111;
    position: relative;
    border-color: #2F2F2F;
    border-top: #2F2F2F solid 1px;
}

.center_container {
    height: fit-content;
    margin: auto;
}

.container {
    text-align: start;
    height: 367px;
    width: 1266px;
    display: flex;
}

.description {
    height: 82px;
    width: 100%;
    background-color: #2F2F2F;
    background-color: #111111;
}

.description_text {
    font-family: 'Exo 2', sans-serif;
    font-weight: 400;
    color: #818181;
    font-size: small;
    text-align: center;
    margin-top: 50px;
}

.links_block {
    display: flex;
    width: 70%;
    height: 100%;
}

.column {
    margin-right: 50px;
    margin-top: 83.5px;
}

.title_links {
    color: #818181;
    font-size: larger;
    margin-bottom: 10px;
}

.contact_block {
    width: 30%;
    height: 100%;
    text-align: center;
    display: flex;
}

.items {
    height: fit-content;
    margin: auto;
}

.contact_description {
    font-family: 'Exo 2', sans-serif;
    font-weight: 400;
    color: #4D4D4D;
    font-size: small;
    text-align: center;
}