.pageContainer {
    background: rgba(28, 28, 28, 1);
    text-align: center;
    height: 59vh;
}

.customerReviews {
    padding-top: 6.5vh;
}

.h1Font {
    font-size: 48px;
    font-weight: 600;
}

.reviewWrapper {
    margin-top: 6vh;
}
