p {
    margin-top: 15px;
    align-self: center;
    font-family: "Exo 2";
    font-weight: 400;
    font-size: 16px;
    width: 270px;
}

span {
    font-weight: 600;
    background-image: linear-gradient(to right, rgba(192, 107, 206, 1), rgba(255, 255, 255, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.BlockContainer {
    width: 305px;
    height: 95%;
    background-color: rgba(28, 28, 28, 1);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 2px solid #2F2F2F;
    overflow: hidden;
    position: relative;
}

.circleContainer {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
}

.circle1 {
    width: 213px;
    height: 199px;
    border-radius: 50%;
    filter: blur(80px);
    position: absolute;
    bottom: -100px; /* Ниже */
    left: -70px; /* Левее */
}

.circle2 {
    width: 114px;
    height: 136px;
    border-radius: 50%;
    filter: blur(60px);
    position: absolute;
    bottom: 6px; /* Ниже */
    right: -28px; /* Правее */
}

.containerPictures {
    bottom: 0;
    position: absolute;
    display: flex;
    align-items: end;
    justify-content: end;
}

.framePicture {
    align-items: end;
    height: 100%;
    width: 100%;
}