.background {
    background: linear-gradient(to right, #100329, #210D2C);
    width: 100%;
    height: 680px;
    position: relative;
    z-index: 0;
}

@media (max-width: 1282px) {
    .background {
        background: linear-gradient(to right, #100329, #210D2C);
        width: 100%;
        height: 1100px;
        position: relative;
        z-index: 0;
    }

    .flex_bg {
        opacity: 0;
    }

    .containerBlocks {
        align-items: center;
        justify-content: center;
        align-self: center;
        display: flex;
        height: 380px;
        margin-top: 90px;
    }
}

.headContainer {
    height: 230px;
    align-items: center;
    display: flex;
    position: relative;
    flex-direction: column;
    text-align: center;
}

.title {
    margin-top: 60px;
    padding-bottom: 15px;
}

.description {
    color: #818181;
    text-align: center;
    line-height: 25px;
    margin-top: 30px;
    padding-left: 30%;
    padding-right: 30%;
}

.containerBlocks {
    align-items: center;
    justify-content: center;
    align-self: center;
    display: flex;
    height: 380px;
    margin-top: 30px;
}

.flex_bg {
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.flex_bg_1 {
    width: 50%;
    height: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    display: flex;
    justify-content: flex-start;
}

.flex_bg_2 {
    width: 50%;
    height: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    display: flex;
    justify-content: flex-end;
}

