.container {
    position: fixed;
    width: 100%;
    z-index: 90;
    display: flex;
    text-align: center;
}

.center_container {
    height: fit-content;
    margin: auto;
    width: auto;
}

@media (max-width: 1300px) {
    .center_container {
        width: 85%;
    }
}

@media (max-width: 990px) {
    .container {
        display: none;
    }
}