.flex {
    height: 654px;
    width: 100%;
    display: flex;
    background-color: #000;
}

.container {
    margin: auto;
}

.container_flex {
    display: flex;
}

.section_name {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #FFF;
    margin-bottom: 90px;
}

.text_block {
    width: 543px;
    height: 100%;
    margin-right: 203px;
}

.title {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 64px;
    color: #FFF;
    line-height: 65px;
    margin-bottom: 55px;
    margin-top: 0;
}

.description {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #FFF;
    line-height: 25px;
    height: auto;
}

.right_block {
    width: 936px;
}


/*Default*/
.desc_block {
    margin-top: 96px;
    height: 56px;
    border-bottom: solid 1px #FFF;
    display: flex;
}

.desc_input {
    color: #929292;
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    margin: auto;
    margin-bottom: 0;
    border: none;
    width: 85%;
    height: 56px;
    text-align: start;
    padding-left: 30px;
    padding-right: 30px;
    background-color: transparent;
    transition: 200ms;
}

.desc_input:focus {
    border: none;
    outline: none;
    color: #FFF;
    transition: 200ms;
}

/*te*/

.desc_block_for_error {
    margin-top: 96px;
    height: 56px;
    border-bottom: solid 1px rgba(255, 61, 61, 1);
    display: flex;
}

.desc_input_for_error {
    color: rgba(255, 61, 61, 1);
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    margin: auto;
    margin-bottom: 0;
    border: none;
    width: 85%;
    height: 56px;
    text-align: start;
    padding-left: 30px;
    padding-right: 30px;
    background-color: transparent;
    transition: 200ms;
}

.desc_input_for_error:focus {
    border: none;
    outline: none;
    color: #FFFFFF;
    transition: 200ms;
}

.bottom_message_for_error {
    color: rgba(255, 61, 61, 1);
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-align: start;
    width: 50%;
    margin-top: -25px;
}
/*////////////////////////////////*/

.check_btn {
    width: 25%;
    height: 56px;
    color: #929292;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 18px;
    background-color: transparent;
    border: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: 200ms;
    pointer-events: none;
}

.desc_btn {
    width: 25%;
    height: 56px;
    color: #929292;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 18px;
    background-color: transparent;
    border: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: 200ms;
}

.desc_btn:hover {
    transition: 200ms;
    color: #FFF;
}

.desc_btn:active {
    background-color: #ffffff1a;
    color: #ffffff;
    transition: 50ms;
}

.bottom_block {
    height: 48px;
    margin-top: 42px;
    display: flex;
}

.bottom_message {
    color: #ffffff;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-align: start;
    width: 50%;
    margin-top: -25px;
}

.bottom_desc {
    color: #5C5C5C;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 18px;
    text-align: end;
    width: 50%;
}

@media(max-width: 1700px) {
    .flex {
        height: auto;
        width: 100%;
        display: flex;
        background-color: #000;
        padding-top: 120px;
        padding-bottom: 120px;
    }
    
    .container {
        margin: auto;
        padding-left: 40px;
        padding-right: 40px;
        width: 100%;
    }

    .text_block {
        width: 30%;
        height: 100%;
        margin-right: 203px;
    }

    .right_block {
        width: 70%;
    }

    .desc_btn {
        width: 25%;
        height: 56px;
        color: #929292;
        font-family: "Raleway", sans-serif;
        font-weight: 500;
        font-size: 18px;
        background-color: transparent;
        border: none;
    }

    .desc_input {
        color: #929292;
        font-family: "Bai Jamjuree", sans-serif;
        font-weight: 500;
        font-size: 24px;
        text-align: center;
        margin: auto;
        margin-bottom: 0;
        border: none;
        width: 85%;
        height: 56px;
        text-align: start;
        padding-left: 2%;
        padding-right: 2%;
        background-color: transparent;
    }

    .desc_input_for_error {
        color: #929292;
        font-family: "Bai Jamjuree", sans-serif;
        font-weight: 500;
        font-size: 24px;
        text-align: center;
        margin: auto;
        margin-bottom: 0;
        border: none;
        width: 85%;
        height: 56px;
        text-align: start;
        padding-left: 2%;
        padding-right: 2%;
        background-color: transparent;
    }
}

@media(max-width: 1015px) {
    .container_flex {
        display: flex;
        height: auto;
        flex-wrap: wrap;
    }

    .text_block {
        width: 100%;
        height: 100%;
        margin-right: 0px;
    }

    .right_block {
        width: 100%;
    }
}

@media(max-width: 580px) {
    .title {
        font-family: "Raleway", sans-serif;
        font-weight: 600;
        font-size: 10vw;
        color: #FFF;
        line-height: 10vw;
        margin-bottom: 55px;
        margin-top: 0;
    }

    .desc_input {
        color: #929292;
        font-family: "Bai Jamjuree", sans-serif;
        font-weight: 500;
        font-size: 3.5vw;
        text-align: center;
        margin: auto;
        margin-bottom: 0;
        border: none;
        width: 85%;
        height: 56px;
        text-align: start;
        padding-left: 2%;
        padding-right: 2%;
        background-color: transparent;
    }

    .desc_input_for_error {
        color: #929292;
        font-family: "Bai Jamjuree", sans-serif;
        font-weight: 500;
        font-size: 3.5vw;
        text-align: center;
        margin: auto;
        margin-bottom: 0;
        border: none;
        width: 85%;
        height: 56px;
        text-align: start;
        padding-left: 2%;
        padding-right: 2%;
        background-color: transparent;
    }

    .desc_btn {
        width: 30vw;
        height: 56px;
        color: #929292;
        font-family: "Raleway", sans-serif;
        font-weight: 500;
        font-size: 3.5vw;
        background-color: transparent;
        border: none;
    }

    .bottom_desc {
        color: #5C5C5C;
        font-family: "Raleway", sans-serif;
        font-weight: 500;
        font-size: 18px;
        text-align: center;
        width: 100%;
    }

    .bottom_message {
        color: #ffffff;
        font-family: "Raleway", sans-serif;
        font-weight: 500;
        font-size: 18px;
        text-align: center;
        width: 100%;
        margin-bottom: 15px;
    }
    .bottom_message_for_error {
        color: #ffffff;
        font-family: "Raleway", sans-serif;
        font-weight: 500;
        font-size: 18px;
        text-align: center;
        width: 100%;
        margin-bottom: 15px;
    }


    .bottom_block {
        height: 48px;
        margin-top: 42px;
        display: block;
    }
}