.flex {
    height: 654px;
    width: 100%;
    display: flex;
    background-color: #000;
}

.container {
    margin: auto;
}

.container_flex {
    display: flex;
}

.section_name {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #FFF;
    margin-bottom: 90px;
}

.text_block {
    width: 543px;
    height: 100%;
    margin-right: 203px;
}

.title {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 64px;
    color: #FFF;
    line-height: 65px;
    margin-bottom: 55px;
    margin-top: 0;
}

.description {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #FFF;
    line-height: 25px;
    height: auto;
}

.right_block {
    width: 936px;
}

.desc_block {
    margin-top: 96px;
    height: 56px;
    border-bottom: solid 1px #FFF;
    display: flex;
}

.desc_input {
    color: #929292;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 32px;
    text-align: center;
    margin: auto;
    margin-bottom: 0;
    border: none;
    width: 85%;
    height: 56px;
    text-align: start;
    padding-left: 30px;
    background-color: transparent;
    transition: 200ms;
}

.desc_input:focus {
    border: none;
    outline: none;
    color: #FFF;
    transition: 200ms;
}

.desc_btn {
    width: 20%;
    height: 56px;
    color: #FFF;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 18px;
    background-color: transparent;
    border: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: 200ms;
}

.desc_btn:hover {
    background-color: #ffffff11;
    transition: 200ms;
}

.desc_btn:active {
    background-color: #FFF;
    color: #000;
    transition: 50ms;
}

.bottom_block {
    height: 48px;
    margin-top: 42px;
}

.bottom_desc {
    color: #5C5C5C;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 18px;
    text-align: end;
}

@media(max-width: 1700px) {
    .flex {
        height: auto;
        width: 100%;
        display: flex;
        background-color: #000;
        padding-top: 120px;
        padding-bottom: 120px;
    }
    
    .container {
        margin: auto;
        padding-left: 40px;
        padding-right: 40px;
        width: 100%;
    }

    .text_block {
        width: 30%;
        height: 100%;
        margin-right: 203px;
    }

    .right_block {
        width: 70%;
    }

    .desc_btn {
        width: 115px;
        height: 56px;
        color: #FFF;
        font-family: "Raleway", sans-serif;
        font-weight: 500;
        font-size: 18px;
        background-color: transparent;
        border: none;
    }

    .desc_input {
        color: #929292;
        font-family: "Raleway", sans-serif;
        font-weight: 500;
        font-size: 32px;
        text-align: center;
        margin: auto;
        margin-bottom: 0;
        border: none;
        width: 85%;
        height: 56px;
        text-align: start;
        padding-left: 2%;
        background-color: transparent;
    }
}

@media(max-width: 1015px) {
    .container_flex {
        display: flex;
        height: auto;
        flex-wrap: wrap;
    }

    .text_block {
        width: 100%;
        height: 100%;
        margin-right: 0px;
    }

    .right_block {
        width: 100%;
    }
}

@media(max-width: 580px) {
    .title {
        font-family: "Raleway", sans-serif;
        font-weight: 600;
        font-size: 10vw;
        color: #FFF;
        line-height: 10vw;
        margin-bottom: 55px;
        margin-top: 0;
    }

    .desc_input {
        color: #929292;
        font-family: "Raleway", sans-serif;
        font-weight: 500;
        font-size: 4vw;
        text-align: center;
        margin: auto;
        margin-bottom: 0;
        border: none;
        width: 85%;
        height: 56px;
        text-align: start;
        padding-left: 2%;
        background-color: transparent;
    }

    .desc_btn {
        width: 28vw;
        height: 56px;
        color: #FFF;
        font-family: "Raleway", sans-serif;
        font-weight: 500;
        font-size: 4vw;
        background-color: transparent;
        border: none;
    }

    .bottom_desc {
        color: #5C5C5C;
        font-family: "Raleway", sans-serif;
        font-weight: 500;
        font-size: 18px;
        text-align: center;
    }
}