.headerNav {
    position: fixed;
    top: 0;
    left: 75vw;
    width: 20%;
    z-index: 100;
    padding-top: 15px ;
}

.container {
    display: flex;
    justify-content: end;
    align-items: center;
}

.container_flex {
    display: flex;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;


}

ul a {
    margin-left: 10px;
    flex-grow: 1;
    text-decoration: none;
    padding: 13px;
    align-items: center;
    border-radius: 10vw;

}

.navLink {
    font-family: "Raleway", sans-serif;
    font-size: 1vw;
    font-weight: 500;
    width: 6vw;
    text-align: center;
}

@media(max-width: 1690px) {
    .navLink{
        font-size: 1.3vw;
        width: 7vw;
    }
    ul a{
        padding: 10px;
    }

}

@media(max-width: 580px) {
    .navLink{
        font-size: 1.5vw;
        width: 8vw;
    }
    ul a{
        padding: 5px;
    }

}