
.container {
    width: 539px;
    height: 564px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.imageSite {
    height: 407px;
    width: 539px;
    display: flex;
    border-radius: 20px;
    overflow: hidden;
}

.img {
    width: 100%;
    height: 100%;
    display: flex;
    transition: 300ms;
}

.img:hover {
    scale: 1.05;
    transition: 300ms;
}

.review_content {
    height: auto;
    justify-content: left;
    display: flex;
    margin-top: 30px;
}

.avatar {
    height: 79px;
    width: 79px;
    border-radius: 100%;
    object-fit: cover;
}

.username {
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    color: #000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 23px;
    margin-left: 25px;
    font-weight: 600;
}

.userInfo {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.comment {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 23px;
    text-align: left;
    font-weight: 500;
    color: #5C5C5C;
    margin-left: 25px;
    margin-top: 10px;
}
@media(max-width: 1690px) {
    .container{
        width: 40vw;
        height:38vw;
        padding: 1vw;
    }
    .avatar
    {
        margin: 5px;
        width: 6vw;
        height:6vw;
    }
    .comment
    {
        font-size: 1.2vw;
        margin-left: 6px;
    }
    .username{
        margin-left: 6px;
        margin-top: 5px;
        margin-bottom: 0;
        font-size: 1.5vw;
        height: 2vw;
    }

    .review_content{
        margin: 0;
        padding: 0;
    }
}

@media(max-width: 1180px) {
    .container{
        width: 70vw;
        height:68vw;
        padding: 1vw;
        margin-top: 5vw;
    }
    .avatar
    {
        margin: 2vw;
        width: 8.5vw;
        height:8.5vw;
    }
    .comment
    {
        font-size: 2vw;
        margin-left: 2vw;
    }
    .username{
        margin-left: 2vw;
        margin-top: 1vw;
        margin-bottom: 0;
        font-size: 2vw;
        height: 3vw;
    }
}

@media(max-width: 580px) {
    .container{
        width: 70vw;
        height:73vw;
        padding: 1vw;
    }
    .avatar
    {
        margin: 5px;
        width: 8vw;
        height:8vw;
    }
    .comment
    {
        font-size: 2vw;
        margin-left: 8px;
    }
    .username{
        margin-left: 8px;
        margin-top: 4px;
        margin-bottom: 0;
        font-size: 2.5vw;
        height: 3.5vw;
    }

    .review_content{
        margin: 0;
        padding: 0;
    }

}